@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.container {
	display: flex;
	width: 100vw;
	height: 55vh;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
	padding-top: 2vw;
	background-color: #494949;
}

.logo{
	width: 12vw;
	height: 12vw;
	margin: 0 0 0 0;
	}
	
.logo img{
		width: 11vw;
		height: 5em;
	}

.container1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 61vw;
}

.footer2{
width: 20vw;

}

.footer3{
	margin-right: 2vw;
	width: 20vw;
}


.footer4 {
	display: column;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
	width: 20vw;
	height: auto;
}

.container h2,
h3
 {
	font-size: 1.1em;
	font-style: normal;
	color: #fff;
	font-family: 'josefin sans';
	font-weight: 100;
}


.container ul
li {
	font-size: 1.5em;
	font-style: normal;
	color: #fff;
	font-family: 'josefin sans';
	font-weight: 100;
}

.container button {
	background-color: transparent;
	border: none;
}



.btn{
	display: flex;
	flex-direction: column;
}

.btn a{
	display: flex;
	flex-direction: row;
	

}

.btn img{
	width: 2em;
	height: 2em;
	padding-right: 1em;
}

.footer5 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.Footer5{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	width: 20%;
	align-items: flex-start;
}
.imgW{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5%;
}

.imgW img{
	width: 20px;
	height: 20px;
	margin-right: 3px;
}


@media (max-width: 768px) {
	.container{
		padding: 0;
	}

.container1{
	width: 60vw;
}
.container ul
li {
	font-size: 1.2em;
	}
	.container
h3
 {
	font-size: 1em;
	}
}

@media (max-width: 575.98px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 1em;
		height: auto;
		padding: 0 0 0 0;
	}
	.container1 {
		width: 100vw;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 0;
		column-gap: 0;
		row-gap: 0;
	}
	.container 
	ul
	li {
		font-size: 0.9em;
		font-weight: 400;
	}

	.container
	h3 {
		font-size: 0.7em;
		font-weight: 400;
	}
	
	.imgW{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0.5%;
	}
	
	.imgW img{
		width: 20px;
		height: 20px;
		margin-right: 2px;
	}


	.btn{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100vw;
	}

	.btn a{
		padding-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5em;

}



.btn img{
	width: 1em;
	height: 1em;
	padding-right: 0em;
}

.btn h3{
	font-size: 0.7em;
} 
.footer5{
	width: auto;
}
.footer4{
	width: 100vw;
	justify-content: space-around;
	align-items:flex-start;
	align-content: center;

}

	.logo{
		margin-top: 2vw;
		width: 30vw;
		height: 20vw;
		}

		.logo img{
			width: 90%;
			height: auto;
		}
}