@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.container {
	display: flex;
	width: 100vw;
	height: 55vh;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	padding-top: 2vw;
	background-color: #FFF6EA;
}

.footer1 {
	display: column;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: auto;
}



.logo img {
	width: 10vw;
	height: 4em;
	margin-left: 3vw;
	margin-right: 0vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	
}


.container h2
 {
	font-size: 1.5em;
	font-style: normal;
	color: #494949;
	font-family: 'josefin sans';
	font-weight: 500;
	margin: 0 0 0 0 ;
	padding: 0 0 0 0;
}


.container ul
li {
	font-size: 1.5em;
	font-style: normal;
	color: #494949;
	font-family: 'josefin sans';
	font-weight: 300;
}

.container button {
	background-color: transparent;
	border: none;
}


.footer2{
width: 20vw;

}

.footer3{
	margin-right: 2vw;
	width: 20vw;
}

.footer4 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 20vw;
}

.container h3{
	font-size: 1.5em;
	font-style: normal;
	color: #494949;
	font-family: 'josefin sans';
	font-weight: 300;
}



.btn{
	width: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
}



.btn img{
	width: 2em;
	height: 2em;
	padding-right: 1em;
}



.imgW{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5%;
}

.imgW img{
	width: 20px;
	height: 20px;
	margin-right: 3px;
}


@media (max-width: 768px) {

}

@media (max-width: 575.98px) {
	.container {
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
gap: 20px;

	}

	.footer1{
		width: 100vw;
		height: auto;
	}

	.logo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 20vw;
	}

	.logo img{
		width: 25vw;

	}

.btn{
	width: 100vw;
	gap: 30px

}

	.footer2{
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: auto;
		align-items: center;
		justify-content: center;
	}
	.footer2 ul{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
		width: 100vw;
	}

	.footer3{
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: auto;
		align-items: center;
		justify-content: center;
	}
	.footer3 ul{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
		width: 100vw;
	}


.footer4 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


	.container h3{
	margin: 9px;
	}

	.container ul
	li {
		font-size: 1em;

	}


}