@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	background-color: #f7f4f0;
	height: 6.7em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}



.logo{
	width: 14vw;
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	
}

.logo img {
	width: 11vw;
	height: 5em;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.menu {
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 1.2vw;
	color:#494949;
	font-size: 1.1em;
	font-family: 'Josefin Sans';
	
}

.menu h3{
	color:#494949;
	font-family: 'Josefin Sans';
	font-weight: 400;
}


.signin {
	width: 25vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 0.2vw;
	margin: 0 0 0 0;
	height: 6em;
}

.nav {
	
	margin: 1em;
	color: #494949;
	text-decoration: none;
	padding: 0.5vw 0.5vw 0.5vw 0.7vw;
	border: solid 0.2em #494949;
	border-radius: 0.7em;
	font-size: 1em;
	height: 10em;
	
	
}



.carrito {
	width: 5vw;
	height: 5em;
	margin-left: 0em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	
	
}

.carrito img {
	width: 2.5em;
	height: 2.1em;
	margin: 0 0 0 0;
	
}

.badge {
	background-color: #f02020;
	color: #ffffff;
	border-radius: 100%;
	padding: 0.2em 0.4em 0.1em;
	font-size: 1em;
}

.badge:hover {
	background-color: #ffffff;
	color: #f02020;
	cursor: pointer;
}

.imgSeller{
	position:static;
	width: 3vw;
	height: 3vw;
}

.container1 {
	background-color:#eda598;
	height: 4vw;
	width: 100vw;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

.container1 li{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin:1vw;
	color: #f7f4f0;
	
	list-style-type: none;
	
}

.container1 a{
	font-size: 1.4em;
	font-family: 'Josefin Sans';
color: #ffffff;
}
.category{
	display: flex;
	flex-direction: row;
}

.contenSearch{
	width: 10vw;
}





.btn {
	border-radius: 1.87rem;
	border: solid 0.2em #494949;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
	margin: 0em 0em 0em 0em;
	color:#494949;
	font-family: 'Josefin Sans';
}

.btn:hover {
	background-color: #494949;
	color: #ffffff;
	cursor: pointer;
}


/* .all section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	
} */





@media (max-width: 991.98px) {
	.container
	{
		width: 100vw;
	}

}

@media (max-width: 768px) {
	
	.container {
		background-color: #eda598;
		height: 15vw;
 }

	.menu {
	display: none;
	}
	
	.container1 {
		display: none;
	}



	.logo{
		width: 30vw;
		
	}
	
	.logo img {
		width: 15vw;
	}

	.carrito img {
		width: 4vw;
		height: 4vw;
		margin: 0 0 0 0;
	}

	.signin{
		width: 40vw;
		justify-content: space-between;
	}

	.nav{
		color:#ffffff;
		border: solid 0.2em #ffffff;
		font-weight: 400;
		font-size: 0.8em ;
		padding: 1vw 1vw 1vw 1vw;
	}
	.container2{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.contenSearch{
		display: flex;
		
		margin-right: 10vw;
	}
	.btn {
		color:#ffffff;
		border: solid 0.1em #ffffff;
		font-weight: 400;
		font-size: 1em;
		padding: 1vw 1vw 1vw 1vw;
	}
}

@media (max-width: 575.98px) {

	.container{
		justify-content: space-evenly;
		height: 20vw;
		column-gap: 1.5vw;
	}
	.logo{
		width: 30vw;
		
	}
	
	.logo img {
		width: 25vw;
	}


	.menu{
		display: none;
	}


	
	.nav{
		color:#ffffff;
		border: solid 0.15em #ffffff;
		font-weight: 400;
		font-size: 0.8em ;
		padding: 1.2vw 1.2vw 1.2vw 1.2vw;
		margin: 0 0 0 0;
	}

	.carrito{
width: 4vw;
	}
	.carrito img {
		width: 4vw;
		height: 4vw;
		margin: 0 0 0 0;
	}


	.btn {
		font-size: 1em;
		margin-left: 6vw;
		padding: 1.5vw 1.5vw 1.5vw 1.5vw;
	}

}
