@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 3vw;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	margin-bottom: 3vw;
}
.card h2 {
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.5em;
	font-weight: 500;
}

.card p{
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.5em;
	font-weight: 400;
}



.turn {
	padding: 1em;
	margin: 1em;
	border: 0.1em #eda598 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	width: 40vw;
	height: auto;
}

.card{
	padding: 1em;
	margin: 1em;
	border: 0.1em #eda598 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	width: 40vw;
	height: auto;
}

.service{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.service a {
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1em;
	font-weight: 400;
}

.service div {
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.2em;
	font-weight: 400;
}


.check {
	border: solid 1px #2f4a5d;
	border-radius: 5px;
	background-color: #f9f6f6;
	color: #2f4a5d;
	width: 60%;
	height: 40%;
	margin-left: 2em;
	padding: 0.1em 0.5em 0.1em 0.3em;
}

.btn {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 1em;
	font-size: 1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 50%;
	margin-top: 10%;
	margin-left: 20%;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #494949;
}

.btn:focus {
	background-color: #494949;
}

.btn:active {
	background-color: #494949;
}

.btn:disabled {
	background-color: #494949;
}

.btn:disabled:hover {
	background-color: #494949;
}

.pay {
	border: solid 2px #9e5245;
	padding: 1em;
	border-radius: 15px;
	margin-top: 1em;
	color: red;
	font-family: 'Josefin Sans';
	font-size: 1.2em;

}


.turn h3 {
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.5em;
	font-weight: 500;
}

.turn p{
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.5em;
	font-weight: 500;
}
@media (max-width: 768px) {

	.container {
		margin-top: 2em;
	}
.turn{
	padding: 0.5em;
	margin: 0.5em;
	width: 25vw;
}

	.turn h3 {
		font-size: 1.1em;
		
	}
	
	.turn p{
		font-size: 1em;
		
	}
}

@media (max-width: 575.98px) {

	.container {
		margin-top: 0.5em;
	}

	.turn{
		width: 80vw;
	}

	.card{
		width: 80vw;
	}


}
