@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 3vw;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	margin-bottom: 0vw;
	margin-top: 0;
}



.btn {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 0.5em;
	font-size: 1.5em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 60%;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #494949;
}

.btn:focus {
	background-color: #494949;
}

.btn:active {
	background-color: #494949;
}

.btn:disabled {
	background-color: #494949;
}

.btn:disabled:hover {
	background-color: #494949;
}

.form {
	padding: 1em;
	margin: 1em;
	border: 0.1em #eda598 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1.5em;
	width: 30em;
}

.form input,
select {
	margin-left: 0.5em;
	background-color: #eda598;
	color: #ffff;
}

.form label {
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.5em;
}

.form h1 {
	font-family: 'Josefin Sans';
	color: #494949;
	font-size: 1.5em;
}


@media (max-width: 768px) {

	.container {
		margin-top: 3em;
	}
}

@media (max-width: 575.98px) {
	
	.container {
		margin-top: 1em;
	}

	.form{
		align-items: center;
	}
}
