@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	column-gap: 1vw;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	margin-bottom: 3vw;
	margin-top: 1em;
}

.referred{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	gap: 5em;
}

.url{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #FFF6EA;
	color: #494949;
	font-family: 'Josefin Sans';
	font-size: 1em;
}

.btn{
	border-radius: 12px;
	padding: 13px 19px;
	background-color: #ffffff;
	border: none;
	font-family: 'Josefin Sans';
	color:#494949

}

.container h1,
label {
	color: #494949;
	font-family: 'Josefin Sans';
	font-size: 2.5rem;
}

.container button {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 1em;
	font-size: 1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 70%;
	margin-left: 15%;
	transition: all 0.3s ease-in-out;
}

.container button:hover {
	background-color: #494949;
}

.container button:focus {
	background-color: #494949;
}

.container button:active {
	background-color: #494949;
}

.container button:disabled {
	background-color: #494949;
}

.container button:disabled:hover {
	background-color: #494949;
}

@media (max-width: 767.98px) {
	.container {
		margin-top: 3em;
	}
}

@media (max-width: 575.98px) {
	.container {
		margin-top: 0em;
	}
	.referred{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		gap: 0em;
	}

	.referred p{
		font-size: 1.3em;
		font-weight: 400;
	}
	
	.url{
		
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #FFF6EA;
		color: #494949;
		font-family: 'Josefin Sans';
		font-size: 1.4em;
	}


	.btn{
		border-radius: 12px;
		padding: 8px 8px;
		font-size: 1.5em;
	font-family: 'Josefin Sans';
		background-color: #ffffff;
		border: none;
		color:#494949
	}

}
