@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	margin-top: 2em;
}

.containerSort {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 60vw;
	margin-bottom: 20px;
	
}

.containerSort label{
	color:rgba(0, 0, 0, 0.848);
	font-size: 1.5em;
	font-weight: 500;
	font-family: 'Josefin Sans';
	padding-left: 10px;
}

.containerSort div{
	display: flex;
	flex-direction: column;
	border-right: solid 2px #D0D5DD;
	padding-right: 20px;

}

.containerSort div select{
 border: none;
 background-color: transparent;
 color: #494949;
 margin: 0;
}

.containerSort button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1px 4px;
	color:#ffffff;
	font-family: 'Josefin Sans';
	font-weight: 500;
	font-size: 1.1em;
	width: 110px;
	height: 50px;
	background: #EDA598;
	border-radius: 8px;
	border: none;
}

.containerSort button:hover {
	background-color: #ffffff;
	color: #EDA598;
	cursor: pointer;
	border: solid 2px #EDA598;
}
.container2 {
	width: 100vw;
	display: flex;
	flex-direction: row;
	
}



.col1 {
	display: flex;
	width: 30vw;
	flex-direction: column;
	flex-wrap: wrap;
	justify-items: flex-end;
	align-items: flex-start;
	margin-left: 1vw;
	border: none;
	height: 30vw;
	color: #494949;
	gap:0
}

.col1 h3
 {
	color: #494949;
	font-size:1.5em;
	font-weight: 500;
	font-family: 'Josefin Sans';
	margin: 0;
}

.category h3{
	color: #EDA598;
	font-size:1em;
	font-weight: 400;
	text-decoration:underline;
	font-family: 'Josefin Sans';
	margin-bottom: 10px;
}

.category ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.category ul li{
	padding: 10px;
	margin: 5px;
	border: none;
	border-radius: 8px;
	background-color: #F7F8F9;
}



.col2{
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: auto;
	color: #494949;
}

.cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin:0
}

.card {
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
	align-content: center;
	width: 40%;
	height: 0 0 0 0;
	padding-bottom: 10px;
 	margin: 1vw;
	border: solid 1px #49494927;
	border-radius: 20px;
	box-shadow: 8px 8px 12px rgba(17, 12, 12, 0.101);
	
}

.card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
}
.card-title i {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	color: #ffa710;
}
.card-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}
.card:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.227);
}
.card-text {
	height: 80px;
}

.card::before,
.card1::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform 0.3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}
.card::before {
	transform-origin: left top;
}
.card::after {
	transform-origin: right bottom;
}
.card:hover::before,
.card1:hover::after,
.card1:focus::before,
.card1:focus::after {
	transform: scale3d(1, 1, 1);
}


.card img {
	width: 26vw;
	height: 20vw;
	align-items: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	margin:0.5em;
	border-radius: 10px;
}

.card h2 {
	font-size: 1.1em;
	font-family:'Josefin Sans';
	margin-bottom: 0.5em;
	color: #494949;
}

.price {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 26vw;
	font-size: 1.1em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
	color:#494949;
	font-family:'Josefin Sans';
	
}

.price h3{
	margin: 0 0 0 0
}
/* .card img-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}
.card img:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card img-text {
	height: 80px;
}

.card img::before,
.card img1::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform 0.3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}
.card img::before {
	transform-origin: left top;
}
.card img::after {
	transform-origin: right bottom;
}
.card img:hover::before,
.card img:hover::after,
.card img:focus::before,
.card img:focus::after {
	transform: scale3d(1, 1, 1);
} */

.btnVerMas{
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
	width: 100%
}

.btnVerMas img{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.btnOrder {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1px 4px;
	color:#ffffff;
	font-family: 'Josefin Sans';
	font-weight: 500;
	font-size: 1.5em;
	width: 90%;
	height: 46px;
	background: #EDA598;
	border-radius: 10px;
	border: none;
	margin-bottom: 8px;
}

.btnOrder:hover {
	background-color: #FFFFFf;
	color: #EDA598;
	cursor: pointer;
	border: none;
}





@media (max-width: 768px) {

	.containerSort {
		width: 100vw;
		margin-bottom: 20px;
		
	}

}

@media (max-width: 575.98px) {

	.containerSort {
		width: 90vw;
		margin-bottom: 20px;
		
	}

	.containerSort div{
        width: 35vw;
		padding-right: 5px;
	
	}
	
	.containerSort div select{
		width: 30vw;
	}


	.containerSort button{
		padding: 1px 2px;
		font-weight: 500;
		font-size: 1.1em;
		width: 50px;
		height: 40px;

	}



	.col1{
		display: none;
	}

	.cards {
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin:0
	}
	
	.card {
		width: 80vw;

		
	}

	.card img {
		width: 52vw;
		height: 50vw;
	
	}

	.card h2 {
		font-size: 1.5em;
padding: 0;
	}

	.btnVerMas img{
		width: 30px;
		height: 30px;
			
	}

	.price{
		width: 70vw;
	
	}
	.btnOrder {
		padding: 1px 1px;
		font-size: 2em;	
	}


}
