@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');



.SearchBox{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    width: 80vw;
    height: 56px;
}

.SearchBox input{
    background-color: #F7F4F0;
    border: none;
    border-radius: 8px;
    width: 75vw;
    height: 25px;
    margin: 0 0 0 0;
    text-align: center;
    color: #494949;
    font-family: 'Josefin Sans';
}

::placeholder{
    text-align: start;
   color:#494949;
   font-size: 1em;
}
.btnSearch {
    width: 3em;
    height: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btnSearch svg{

width: 8vw;
height: 28px;

}
.btnSearch :hover{
    border: none;
}

@media (max-width: 768px) {
    

    }
@media (max-width: 575.98px) {
    .btnSearch svg{

        width: 10vw;
        height: 15px;
        
        }

}





/* 
.search img{
	width: 1.5em;
	height: 1.5em;
	border: none;
	background-color: transparent;
} */


/* .btnSearch {
	border-radius: 0.25em;
	color: #ffffff;
	margin: 0em 0em 0em 0em;
	padding: 0vw 0vw 0vw 0vw;
	background-color: #494949;
	font-family: 'Josefin Sans';
	font-size: 1.2em;
	height: 3vw;
}

.btnSearch:hover {
	background-color: #ffffff;
	color: #494949;
} */