@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	column-gap: 3vw;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	margin-bottom: 3vw;
	margin-top: 2em;
}

.container h1 {
	color: #494949;
	font-family: 'Josefin Sans';
	font-size: 1.5em;
	margin-right: 2vw;
}

.container h2{
	color: #494949;
	font-family: 'Josefin Sans';
	font-size: 2em;
	text-align: center;
	font-weight: 400;
}
.btn {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 12px;
	padding: 0.5em;
	font-size: 1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 5em;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #494949;
}

.btn:focus {
	background-color: #494949;
}

.btn:active {
	background-color: #494949;
}

.btn:disabled {
	background-color: #494949;
}

.btn:disabled:hover {
	background-color: #494949;
}


.btnTurn {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 12px;
	padding: 0.5em;
	font-size: 1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 5em;
	transition: all 0.3s ease-in-out;
	margin-left: 1em;
}

.btnTurn:hover {
	background-color: #494949;
}

.btnTurn:focus {
	background-color: #494949;
}

.btnTurn:active {
	background-color: #494949;
}

.btnTurn:disabled {
	background-color: #494949;
}

.btnTurn:disabled:hover {
	background-color: #494949;
}


.btnadd {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 12px;
	padding: 0.5em;
	font-size: 1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 10em;
	margin: 1em;
	transition: all 0.3s ease-in-out;
}

.container button:hover {
	background-color: #494949;
}

.container button:focus {
	background-color: #494949;
}

.container button:active {
	background-color: #494949;
}

.container button:disabled {
	background-color: #494949;
}

.container button:disabled:hover {
	background-color: #494949;
}


.cards{
	display: flex;
	justify-content: space-evenly;
	
}

.ul{
	padding: 0.5em;
	width: 20vw;
	margin: 1em;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	box-shadow: 8px 8px 12px rgba(17, 12, 12, 0.3);
}

.ul li{
	font-size: 1em;
	font-family: 'Josefin Sans';
	color:#494949
}

@media (max-width: 767.98px) {
	.btn {
		width: 5vw;
		font-size: 0.5vw;
	}
	.container {
		margin-top: 3em;
	}
}

@media (max-width: 575.98px) {
	.container {
		margin-top: 1em;
	}

	.btnadd {
		padding: 0.5em;
		font-size: 1em;
		width: 9em;
	
	}
	.ul{ 
width: 40vw;
	}
}