@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	margin-top: 2em;
}
.container a {
	font-size: 1.5em;
}

.container1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100vw;
}

.col1 {
	display: flex;
	flex-direction: column;
	margin: 1em 1em 1em 1em;
}

.col1 img {
	width: 20em;
	height: 20em;
	border: solid 1px #49494927;
	border-radius: 20px;
	box-shadow: 8px 8px 12px rgba(17, 12, 12, 0.101);
}

.col1 img-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}
.col1 img:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.col1 img-text {
	height: 80px;
}

.col1 img::before,
.col2 img1::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform 0.3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}
.col1 img::before {
	transform-origin: left top;
}
.col1 img::after {
	transform-origin: right bottom;
}
.col1 img:hover::before,
.col1 img:hover::after,
.col1 img:focus::before,
.col1 img:focus::after {
	transform: scale3d(1, 1, 1);
}

.col2 {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	margin: 1em;
	width: 40vw;
	padding: 1em;
	font-family:'Josefin Sans';
	text-align: justify;
	font-size: 1.5rem;
	border: solid 1px #49494927;
	border-radius: 20px;
	box-shadow: 8px 8px 12px rgba(17, 12, 12, 0.101);
}

.col2 li,
h1,
p {
	font-size: 1em;
	font-weight: 600;
	color: #494949;
	font-family: 'Josefin Sans';
}

.reseñas li,
strong,
p {
	font-size: 1em;
	color: #494949;
}

.p {
	font-weight: lighter;
	color: #494949;
	font-family: 'Josefin Sans';
	text-align: justify;
}

.btn button{
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 12px;
	padding: 0.6em;
	font-size: 1.1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 80%;
	margin-left: 10%;
	transition: all 0.3s ease-in-out;
}

.btn button:hover {
	background-color: #494949;
}

.btn button:focus {
	background-color: #494949;
}

.btn button:active {
	background-color: #18d4ca;
}

.btn button:disabled {
	background-color: #18d4ca;
}

.btn button:disabled:hover {
	background-color: #18d4ca;
}

.back{
	width: 12%;
	height: 2em;
	border: solid 1px #494949;
	text-align: center;
	border-radius: 15px;
	font-size: 1em;
}

.back a{
	font-size: 1em;
}

.back:hover {
	background-color: #494949;
	color: #ffffff
}

.back:hover a{
	color: #ffffff
}


/* seccion de reseña */
.form1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100vw;
	color: #494949;
}

 .form1 form div{
margin-bottom: 5%;
align-content: center;
  } 


  .form1 form{
	display: flex;
	flex-direction: column;
	justify-content: center;
  } 


.form1 h2,
label {
	font-size: 1.5em;
	margin: 0em 0em 0em 0em;
	font-family: 'Josefin Sans';
	color: #494949;
}


.ContenBtn{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btnForm {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 0.6em;
	font-size: 1.1em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 35%;
	transition: all 0.3s ease-in-out;
}

.btnForm:hover {
	background-color: #494949;
}

.btnForm:focus {
	background-color: #18d4ca;
}

.btnForm:active {
	background-color: #18d4ca;
}

.btnForm:disabled {
	background-color: #18d4ca;
}

.btnForm:disabled:hover {
	background-color: #18d4ca;
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 30vw;
}

.rating select {
	display: block;
	margin-bottom: 0.3em;
	background-color: #eda598;
	color: white;
	width: 38vw;
}

.textarea {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	width: 40vw;
}



@media (max-width: 768px) {
	.container {
		margin-top: 3em;
	}

}

@media (max-width: 575.98px) {
	.container {
		margin-top: 0.5em;
	}

	.container1{
		flex-direction:row;
		order:3;
		
	}
	.col2 {
		width: 90vw;
		padding: 1em;
		font-family:'Josefin Sans';
		text-align: justify;
		font-size: 1.5rem;
		border: solid 1px #49494927;
		border-radius: 20px;
		box-shadow: 8px 8px 12px rgba(17, 12, 12, 0.101);
	}
	
	.back{
		width: 20%;
		font-size: 0.8em;
	}

.form1{
	width: 100vw;
}

.form1 form{
	width: 100vw;
	justify-content: space-evenly;
	align-items:flex-start;
	flex-direction: row;

}
	/* .form1 form div textarea{
		display: flex;
		justify-content: center;
		align-items: center;

	} */

	.reseñas{
		margin: 1em;
	}

	.rating{
		width: 40vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.rating select {
		width: 35vw;
	}
	.textarea{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50vw;
		
	}
	.textarea textarea {
		width: 40vw;
		margin: 1em;
	}
	
.ContenBtn{
width: 60vw;
}

}
