.container{
    width: 100vw;
    height: auto;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-content: flex-start;
align-items: center;

}


.map{
	display: flex;
	flex-direction: column;
	width: 70vw;
	height: 85vh;
}

.map h1{
	font-size: 1.5em;
	font-family:'Josefin Sans';
	color: #494949
}

.map span{
	font-size: 1em;
	font-family:'Josefin Sans';
	color: #494949
}
.sectionForm{
width: 50vw;
height: auto;
}
.sectionForm h1{
	font-size: 1.5em;
	font-family:'Josefin Sans';
	color: #494949
}
.btn {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 0.5em;
	font-size: 2em;
	font-family: 'Josefin Sans';
	cursor: pointer;
	width: 50%;
	margin-left: 15%;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #494949;
}

.btn:focus {
	background-color: #494949;
}

.btn:active {
	background-color: #494949;
}

.btn:disabled {
	background-color: #494949;
}

.btn:disabled:hover {
	background-color: #18d4ca;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		margin-top: 1em;
	}

	.map{
		width: 90vw;
	}
}

@media (max-width: 575.98px) {
	.container {
		margin-top: 4em;
	}
	
	.map{
		width: 95vw;
	}

	.sectionForm{
		width: 80vw;
		height: auto;
		}
		.btn {
			padding: 0.5em;
			font-size: 1.5em;
			width: 50%;
			margin-left: 22%;
		
		}
}
